* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

/* commons */
body {
    font-family: 'Lato', sans-serif;
}

header,
#ms_jumbotron,
#ms_about,
footer {
    color: white;
}

p {
    font-size: 22px;
}

.ms_wrapper_80 {
    width: 80%;
}

#ms_portfolio,
#ms_contact {
    color: #2C3E50;
}

#ms_contact::after,
#ms_about::after,
#ms_portfolio::after,
#ms_footer::after,
#ms_footer_top::after,
#ms_footer_bottom::after {
    content: "";
    display: table;
    clear: both;
}


/* glyphicons and dividers */
.fa-star {
    font-size: 36px;
    vertical-align: middle;
}
#ms_star_65 {
    font-size: 32px;
}
#ms_about .ms_bar,
#ms_contact .ms_bar {
    width: 33%;
    margin: 0px 5px;
}

.ms_bar {
    display: inline-block;
    border: 2px solid white;
    background-color: white;
    border-radius: 2px;
    width: 35%;
    margin: 0px 10px;
    vertical-align: middle;
}
#ms_divider_line_height {
    height: 80px;
    line-height: 80px;
}
#ms_blue_bar {
    border: 2px solid #2C3E50;
    background-color: #2C3E50;
}

.ms_button p{
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 0;
}
.fa-download {
    font-size: 22px;
}


/* buttons */
.ms_button {
    border: 2px solid white;
    border-radius: 6px;
    padding: 8px 0;
    margin: 0 26px;
}


/* jumbotron */
#ms_jumbotron {
    background-color: #1ABC9C;
    padding: 40px 0;
}

/* .ms_portfolio-items  */
[id*="ms_box"] img {
    max-width: 100%;
}


body {
    text-align: center;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

h1 {
    font-weight: 900;
    font-size: 50px;
    margin-top: 50px;
}
h2 {
    font-weight: 700;
    font-size: 38px;
}
header h3 {
    font-size: 18px;
}
h3 {
    font-size: 24px;
}

#ms_portfolio,
#ms_about {
    margin-top: 60px;
    margin-bottom: 60px;
}

#ms_left_align {
    text-align: left;
}

#ms_burger {
    text-align: center;
}
#ms_burger .fa-bars {
    color: lightgray;
    border: 1px solid white;
    border-radius: 6px;
    padding: 8px;
}

/* navbar */
nav {
    height: 80px;
    
    color: white;
}



header {
    background-color: #2C3E50;
}

nav h3 {
    font-size: 22px;
    font-weight:900;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 80px;
}


/* jumbotron */

#ms_avatar {
    height: 280px;
}

/* portfolio */

.ms_portfolio_item {
    margin: 15px 0;
}
.ms_portfolio_item  img{
    
    border-radius: 8px;
}

#ms_box-1 {
    background-color: #BA4B63;
}
#ms_box-2 {
    background-color: #1EA4B6;
}
#ms_box-3 {
    background-color: #130F0F;
}
#ms_box-4 {
    background-color: #1C83C1;
}
#ms_box-5 {
    background-color: #0E38B5;
}
#ms_box-6 {
    background-color: #CCB2A3;
}


/* about */
#ms_about {
    padding: 50px 0;
    background-color: #1ABC9C;
 }

#ms_about .row {
    margin-bottom: 30px;
}


/* contact with form */
.form-horizontal {
    margin-top: 40px;
}
.form-control {
    border: 0;
    box-shadow: none;
    padding-left: 0px;
}
.form-control::placeholder {
    color:#495057;
    opacity: 0.8;
    font-size: 22px;
}
.ms_form_underline {
    padding: 30px 0;
    border-bottom: 1px solid lightgray;
}
#ms_form_message {
    padding-bottom: 160px;
}

/* footer */

#ms_footer {;
    margin-bottom: 0px;
    margin-top:40px;
}
#ms_footer h3 {
    font-weight: 700;
}
#ms_footer p {
    margin: 0;
}
#ms_footer [class*="col-"] {
    margin-bottom: 24px;
}

.ms_round_btn {
    border: 3px solid white;
    border-radius: 50%;
    display: inline-block;
}
.ms_round_btn i {
    color: white;
    font-size: 20px;
    padding: 16px;

}

#ms_footer_top {
    background-color: #2C3E50;
}
#ms_footer_bottom {
    background-color: #1A252F;
}
#ms_footer_bottom h6 {
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}





@media screen and (min-width: 768px) {
    .ms_round_btn i {
        color: white;
        font-size: 14px;
        padding: 16px;
    
    }
}

@media screen and (min-width: 992px) {
    .ms_wrapper_80 {
        width: 65%;
    }
    
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 46px;
    }
    
    nav h3 {
        text-align: left;
        font-size: 30px;
    }

    .ms_bar,
    #ms_about .ms_bar,
    #ms_contact .ms_bar {
        width: 20%;
    }
}
